---
interface Props {
  heading: string;
  subheading: string;
  buttonText: string;
  buttonLink: string;
  buttonTarget?: string;
  button2Text?: string;
  button2Link?: string;
  button2Target?: string;
}

const {
  heading,
  subheading,
  buttonText,
  buttonLink,
  buttonTarget,
  button2Text,
  button2Link,
  button2Target,
} = Astro.props;
---

<section class="hero">
  <div class="container">
    <h1>{heading}</h1>
    <p>{subheading}</p>
    {
      (buttonText || button2Text) && (
        <div class="hero-buttons">
          {buttonText && (
            <a href={buttonLink} target={buttonTarget} class="btn">
              {buttonText}
            </a>
          )}
          {button2Text && (
            <a
              href={button2Link}
              target={button2Target}
              class="btn btn-secondary"
            >
              {button2Text}
            </a>
          )}
        </div>
      )
    }
  </div>
</section>
<style>
  .hero {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--color-bg-secondary);

    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.25rem;
      max-width: 900px;
      margin: 0 auto;
      white-space: pre-wrap;
    }

    &-buttons {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  @media (max-width: 900px) {
    .hero h1 {
      font-size: 2.25rem;
    }
  }

  @media (max-width: 600px) {
    .hero {
      padding: 2.5rem 1.5rem;

      h1 {
        font-size: 1.875rem;
      }
    }
  }
</style>
